@model RomanianFinancialTimes.Models.Article

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Edit article</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        
        @Html.HiddenFor(x => x.Id);

        <div class="form-group">
            @Html.LabelFor(x => x.Title, new {@class = "control-label col-md-3"})
            <div class="col-md-9">
                @Html.TextBoxFor(x => x.Title, new {@class = "form-control"})
                @Html.ValidationMessageFor(x => x.Title, "", new {@class = "text-danger"})
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <input type="submit" value="Edit" class="btn btn-primary"/>
            </div>
        </div>

    </div>
}